body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #007bff;
    color: white;
    padding: 10px 0;
    text-align: center;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #007bff;
    color: white;
}

form {
    text-align: center;
    margin-top: 20px;
}

input[type="file"] {
    padding: 10px;
    margin-right: 10px;
}

button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}